<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="your name" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Lastname</mat-label>
    <input matInput type="text" placeholder="your last name" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>City</mat-label>
    <input matInput type="text" placeholder="your last name" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="your@email.domain" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="****" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Repeat Password</mat-label>
    <input matInput type="password" placeholder="****" required />
  </mat-form-field>
  <button mat-raised-button color="warn">sign-up</button>
  <div class="signup">
    Already have an account?
    <a routerLink="/log-in">Log in here.</a>
  </div>
</form>
