<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="your@email.domain" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="****" required />
  </mat-form-field>
  <button routerLink="/todo-list" mat-raised-button color="primary">
    log-in
  </button>
  <div class="signup">
    Not already have an account?
    <a routerLink="/sign-up">Sign up here.</a>
  </div>
</form>
